{% extends 'index.html' %}
{% block contenido %}
<body id="body">
    <header>
        <div class="icon_menu">
            <i class="fas fa-bars" id="btn_open" ></i>
        </div>
    </header>
       
    <div class="menu_side" id="menu-side">
           
            <div class="name_page">
                <i class="fab fa-maxcdn"></i>
                <h4>Marfrig</h4>
            </div>
    
            <div class="option_menu">
                
                <a href="{{ url_for('index') }}">
                    <div class="options">
                        <i class="fas fa-home" title="Inicio"></i>
                        <h4>Inicio</h4>
                    </div>  
                </a>
                <a href="#">
                    <div class="options">
                        <i class="fas fa-users-cog" title="Administracion de Usuarios"></i>
                       <li> <a>Administracion de Usuarios</a>
                          <ul>
                            <li>Crear usuario</li>
                            <li>Consultar usuario</li>
                          </ul>
                        </li>
                    </div>  
                </a>
                <a href="#">
                    <div class="options">
                        <i class="fas fa-users" title="Administracion de Empleados"></i>
                        <li> <a href="#">Administracion de Empleados</a>
                            <ul>
                              <li>Crear Empleado</li>
                              <li>Consultar Empleado</li>
                            </ul>
                          </li>
                    </div>  
                </a>
                <a href="#">
                    <div class="options">
                        <i class="fas fa-clipboard-list" title="Evaluacion"></i>
                        <li> <a href="#">Evaluacion</a>
                            <ul>
                              <li>Empleados a evaluar</li>
                              <li>Empleados evaluados </li>
                            </ul>
                          </li>
                    </div>  
                </a>
               
                </a>
    
            </div>
    
        </div>
       
        <div>
            <table class="Formulario">
                <tr>
                  <td><strong>LogIn</strong></td>
                  <td><strong>Nombre</strong></td>
                  <td><strong>Cargo</strong></td>
                </tr>
                
                <tr>
                  <td>0001</td>
                  <td>Juan</td>
                  <td>Auxiliar1</td>
                </tr>
                
                <tr>
                  <td>0002</td>
                  <td>Oscar</td>
                  <td>Coordinador</td>
                </tr>
                
                <tr>
                  <td>0003</td>
                  <td>Pedro</td>
                  <td>Auxiliar2</td>
                </tr>
                </table>
                 
        </div>
</body>
{% endblock %}